.tables-list {
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: 10px;
  box-sizing: border-box;
  padding: 0 10px;
  scroll-behavior: smooth;
  background-color: white;

  .table {
    background-color: red;
    aspect-ratio: 1;
    width: 45px;
    font-size: 28px;
    font-weight: 500;
    color: white;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.15s ease-in-out;
  }

  .ready {
    background-color: #fd0000;
  }

  .preparing {
    background-color: #ff7a00;
  }

  .delivered {
    background-color: #ffd600;
  }

  .payed {
    background-color: #28b012;
  }

  .selectedTable {
    width: 70px;
    font-size: 48px;
    transition: all 0.15s ease-in-out;
  }
}

.filler {
  height: 80px;
}
