.input {
  width: 200px;
  height: 2rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid rgb(173, 173, 173);
  box-sizing: border-box;
  padding: 0 0.7rem;
}

.input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.input:hover {
  border: 1px solid rgb(98, 97, 97);
}

.borderRadius-none {
  border-radius: 0;
}
.borderRadius-small {
  border-radius: 0.25rem;
}
.borderRadius-medium {
  border-radius: 0.5rem;
}
.borderRadius-round {
  border-radius: 1.5rem;
}
