.input {
  width: 200px;
  height: 2rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid rgb(173, 173, 173);
  box-sizing: border-box;
  padding: 0 0.7rem;
}

.input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.input:hover {
  border: 1px solid rgb(98, 97, 97);
}
