/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/pages/Customer/ProductsList/ProductsList.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ProductsList_products___D41z {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/pages/Customer/ProductsList/Product/Product.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Product_product__yUpsW {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.Product_product__yUpsW .Product_info__d_lBS {
  width: calc(100% - 120px);
}
.Product_product__yUpsW .Product_name__XAHxB {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
}
.Product_product__yUpsW p {
  font-size: 15px;
  color: #636363;
  margin: 8px 0;
}
.Product_product__yUpsW .Product_hidden__0JWsM {
  display: none;
}
.Product_product__yUpsW .Product_price__oC5C8 {
  font-size: 18px;
  font-weight: 500;
  color: green;
}
.Product_product__yUpsW .Product_photo-and-add-to-cart__gJ1t_ {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 8px;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 100%;
}
.Product_product__yUpsW .Product_photo-and-add-to-cart__gJ1t_ .Product_noPhoto___N0iD {
  background-color: lightgray;
}
.Product_product__yUpsW .Product_photo-and-add-to-cart__gJ1t_ .Product_photoContainer__IIsr2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
}
.Product_product__yUpsW .Product_photo-and-add-to-cart__gJ1t_ .Product_photoContainer__IIsr2 > div {
  width: 110px;
  aspect-ratio: 1;
  border-radius: 10px;
}
.Product_product__yUpsW .Product_photo-and-add-to-cart__gJ1t_ .Product_photoContainer__IIsr2 > img {
  max-width: 110px;
  max-height: 110px;
  border-radius: 10px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/base_components/QuantityButton/QuantityButton.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.QuantityButton_quantity-btn__0zOGD {
  width: -moz-fit-content !important;
  width: fit-content !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1.5rem;
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  font-weight: 700;
  overflow: hidden;
}
.QuantityButton_quantity-btn__0zOGD .QuantityButton_disabled__1rypj {
  color: #8c8c8c;
}
.QuantityButton_quantity-btn__0zOGD .QuantityButton_control__urVen {
  padding: 0.25rem 1.5rem;
  height: 100%;
  text-align: center;
  transition: all 0.15s ease;
  -webkit-user-select: none;
          user-select: none;
}
.QuantityButton_quantity-btn__0zOGD .QuantityButton_control__urVen.QuantityButton_decrement__5UIHh:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, transparent 100%);
  border-radius: 0.25rem;
}
.QuantityButton_quantity-btn__0zOGD .QuantityButton_control__urVen.QuantityButton_decrement__5UIHh:active {
  transform: scale(0.95);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}
.QuantityButton_quantity-btn__0zOGD .QuantityButton_control__urVen.QuantityButton_increment__2fmQe:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}
.QuantityButton_quantity-btn__0zOGD .QuantityButton_control__urVen.QuantityButton_increment__2fmQe:active {
  transform: scale(0.95);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

.QuantityButton_tall__g_xA_ {
  padding: 0.5rem 1.5rem;
}

.QuantityButton_brand__fLRzn {
  border: 1px solid var(--color-brand-dark);
}

.QuantityButton_yellow__XcMSA {
  border: 1px solid rgb(129, 129, 0);
}

.QuantityButton_borderRadius-none__vBwM1 {
  border-radius: 0;
}

.QuantityButton_borderRadius-small__Z0dEd {
  border-radius: 0.25rem;
}

.QuantityButton_borderRadius-medium___FXCc {
  border-radius: 0.5rem;
}

.QuantityButton_borderRadius-round__qAV62 {
  border-radius: 1.5rem;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/base_components/Button/Button.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_btn__B_0uc {
  border: none;
  color: white;
  text-align: center;
  padding: 0.3rem 1.5rem;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  text-wrap: nowrap;
}

.Button_btn__B_0uc:hover {
  filter: brightness(95%);
}

.Button_wider__q5xWF {
  min-width: 300px;
}

.Button_wide__zAdeC {
  min-width: 200px;
}

.Button_tall__OuIVv {
  font-size: 18px;
  padding: 0.5rem 1.5rem;
}

.Button_red__EaGwh {
  background-color: #fd0000;
}

.Button_green__UlnTE {
  background-color: #086400;
}

.Button_yellow__O4CWt {
  background-color: #ffd600;
}

.Button_orange__IXkWA {
  background-color: orange;
}

.Button_brand__6ic_n {
  background-color: var(--color-brand);
}

.Button_brand-light__nd29Y {
  background-color: var(--color-brand-light);
}

.Button_brand-dark__Nfivk {
  background-color: var(--color-brand-dark);
}

.Button_btn__B_0uc:disabled {
  background-color: gray;
}

.Button_textWrap__QwToD {
  text-wrap: wrap;
}

.Button_borderRadius-none__qPP0h {
  border-radius: 0;
}

.Button_borderRadius-small__dmeWH {
  border-radius: 0.25rem;
}

.Button_borderRadius-medium__XEqd2 {
  border-radius: 0.5rem;
}

.Button_borderRadius-round__KpIxT {
  border-radius: 1.5rem;
}
