.product {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;

  .name {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  p {
    font-size: 15px;
    color: #636363;
    margin: 8px 0;
  }

  .hidden {
    display: none;
  }

  .price {
    font-size: 18px;
    font-weight: 500;
    color: green;
  }

  .photo-and-add-to-cart {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 8px;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 100%;

    img {
      width: 110px;
    }
  }
}
