@import "../../../../variables.scss";

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  height: fit-content;
  width: 90%;
  border-left: 16px solid var(--color-brand);
  box-sizing: border-box;
  padding-right: 10px;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 1rem;
  flex: 1;

  h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;
  }

  p {
    margin: 4px 0;
    font-size: 16px;
    color: #595959;
  }
}
