/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/base_components/Button/Button.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_btn__B_0uc {
  border: none;
  color: white;
  text-align: center;
  padding: 0.3rem 1.5rem;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  text-wrap: nowrap;
}

.Button_btn__B_0uc:hover {
  filter: brightness(95%);
}

.Button_wider__q5xWF {
  min-width: 300px;
}

.Button_wide__zAdeC {
  min-width: 200px;
}

.Button_tall__OuIVv {
  font-size: 18px;
  padding: 0.5rem 1.5rem;
}

.Button_red__EaGwh {
  background-color: #fd0000;
}

.Button_green__UlnTE {
  background-color: #086400;
}

.Button_yellow__O4CWt {
  background-color: #ffd600;
}

.Button_orange__IXkWA {
  background-color: orange;
}

.Button_brand__6ic_n {
  background-color: var(--color-brand);
}

.Button_brand-light__nd29Y {
  background-color: var(--color-brand-light);
}

.Button_brand-dark__Nfivk {
  background-color: var(--color-brand-dark);
}

.Button_btn__B_0uc:disabled {
  background-color: gray;
}

.Button_textWrap__QwToD {
  text-wrap: wrap;
}

.Button_borderRadius-none__qPP0h {
  border-radius: 0;
}

.Button_borderRadius-small__dmeWH {
  border-radius: 0.25rem;
}

.Button_borderRadius-medium__XEqd2 {
  border-radius: 0.5rem;
}

.Button_borderRadius-round__KpIxT {
  border-radius: 1.5rem;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/base_components/InputWrapper/InputWrapper.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.InputWrapper_input-label__ixTRB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.InputWrapper_label__E_CK1 {
  position: relative;
  left: 5px;
}

.InputWrapper_error__PIlgy {
  border-color: red;
}

.InputWrapper_errorMessage__QNeXG {
  color: red;
  font-size: 0.7rem;
  margin-top: 0.2rem;
  width: 200px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/base_components/Input.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Input_input__8nxWG {
  width: 200px;
  height: 2rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid rgb(173, 173, 173);
  box-sizing: border-box;
  padding: 0 0.7rem;
}

.Input_input__8nxWG:focus {
  border: 1px solid rgb(0, 0, 0);
}

.Input_input__8nxWG:hover {
  border: 1px solid rgb(98, 97, 97);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/pages/Login/Login.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Login_login-container__ZPX7q {
  height: 100svh;
}
.Login_login-container__ZPX7q .Login_middle-column-container__7EE8A {
  height: 100svh;
}
